#torch
#transformers
#safetensors
#pandas
#tqdm
#scikit-learn
torch==2.2.2 --extra-index-url https://download.pytorch.org/whl/cpu
transformers==4.40.1
safetensors==0.4.2
pandas==2.2.2
tqdm==4.66.4
scikit-learn==1.4.2

